/*=============== HEADER ===============*/
.header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .5s;
}

/*=============== NAV ===============*/

// __Barra Contenedor Nav (Padre)
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    // __menu
    &__menu {
        @media screen and (max-width: 767px) {
            position: fixed;
            background-color: var(--container-color);
            box-shadow: 0 0 4px rgba(0, 0, 0, .1);
            padding: 2.5rem 0;
            width: 90%;
            top: -100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: .4s;
            border-radius: 2rem;
            z-index: var(--z-fixed);
        }
    }

    // __list
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }

    // __link, __logo, __toggle
    &__link,
    &__logo,
    &__toggle {
        color: var(--titulo-color);
        font-weight: var(--font-semi-bold);
    }

    // __logo span
    &__logo {
        font-size: 2rem;
        font-family: "Ubuntu", sans-serif;

        span {
            color: var(--principal-color);
        }
    }

    // __toggle
    &__toggle {
        font-size: 1.3rem;
        cursor: pointer;
    }
}

/* Mostrar menu */
.show-menu {
    top: calc(var(--header-height) + 1rem); //4rem
}

/* Active link */
.active-link {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        left: 45%;
        width: 5px;
        height: 5px;
        background-color: var(--title-color);
        border-radius: 50%;
    }
}

/* Cambiar Sombra Header */
.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}