/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 4.5rem 0 1rem;

    &__title,
    &__title-center {
        position: relative;
        font-size: var(--h2-font-size);
        color: var(--titulo-color);
        text-align: center;
        margin-bottom: var(--mb-1);
    }
}

.svg {
    &__color {
        fill: var(--principal-color);
    }

    &__blob {
        fill: var(--principal-color-claro);
    }

    &__img {
        width: 300px;
        justify-self: center;
    }
}

.img {
    &__normal {
        width: 300px;
        justify-self: center;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
    }

    &__redonda {
        width: 300px;
        justify-self: center;

        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
}

/*=============== LAYOUT ===============*/

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}